/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

#content {
	width:100vw;
	display: flex;
}
.links {
	margin: 20px;
	padding: 20px;
	/*color: gray;*/
	display:flex;
	width: 600px;
}
.top-navigation .links a {
	text-decoration: none;
	padding: 20px;
	margin-top: 20px;
	color: gray;
}
.main {
	
	display:flex;
	max-width:100vw;
	overflow:hidden;
	flex-direction: column;
}
.header {
	display:flex;
	justify-content:flex-start;
	max-width:80vw;
}
.header-image {
	width:20vw;
}
/*.header-container {
	display:flex;
	width: 200px;*/
 .header-container .globe-image {
	
	margin-bottom: 300px;
	margin-right: 0px;
	width: 100px;
	height: 50px;
}
.header-container h1 {
	
	 padding: 10px;
	 width: 100px;
	font-size: 50px;
	margin-left:50px;
}
.header-container .get-started a { 
	margin-left: 50px;
	margin-right: 0px;
	margin-top:100px;
	padding: 20px;
	width: 200px;
   font-size: 20px;
   display:flex;
   border: 2px solid black;
   color:gray;
   text-decoration: none;
}

.logo {
	margin-top: 50px;
	height: 50px;
	width:100px;
}
  
h2 {
	margin: 10px;
	padding: 10px;
}
.top-paragraph {
	margin-bottom: 40px;
	margin-top: 20px;
	/*justify-content: center;*/
	display: flex;
	display: -webkit-flex;
	padding: 100px;
}
.top-paragraph .Features-Container {
	padding:20px;
	margin-right: 15px;
}
.top-paragraph .About-Container {
	padding:20px;
	margin-right: 15px;
}
/*.Services-Container  {
	margin: 10px;
	padding:10px;
	width: 20%;
	height: 30%;
} 
.Product-Container  {
	margin: 10px;
	padding: 10px;
	width: 20%;
	height: 30%;
	display: inline-block;
}
.Vision-Container {
	padding:10px;
	width: 20%;
	height: 30%;
	padding:10px;
	box-sizing: border-box;
	display: inline-block;
}*/
.bottom-content
{
		display: flex;
		display: -webkit-flex;
		padding: 50px;
	
}
.bottom-content .Services-Container {
	padding:20px;
	margin-right: 15px;
}
.bottom-content .Product-Container {
	padding:20px;
	margin-right: 15px;
}
.bottom-content .Vision-Container {
	padding:20px;
	margin-right: 15px;
}
.middle-img {
	
	margin-left: 180px;
	margin-right: 100px;
	display: block;
}
	
.company_address {
	white-space: pre;
	text-align:left;
}
 
footer {
	margin: 0px 500px 0px 500px;
	padding:10px 10px;
}
#top-section {
	display:flex;
	width: 100vw;
	justify-content: space-around;
}
/*responsive*/
@media (max-width: 500px) {
	#content {
		width:100vw;
	}
	.top-navigation {
	width: 50%;

	}
	.nav_flex {
		height:400px;
		line-height: normal;
		width: 100%} 
	.links a {
	
		margin:auto;
		align-self:center;
	}
}

/*responsive*/

@media (max-width: 800px) {
	#content {
		width:100vw;
	}
	.top-navigation .links {
	width: 100%;
	flex-direction:column;
	/*align-items:center;*/
	margin: 5px auto;
	width:100vw;
	border-bottom: 1px solid gray;
	}
.links a {
		text-align:center;
		align-self:center;
		margin:auto;
		padding-bottom: 10px;
		border:2 px solid gray 
		
	
	}

	.top-paragraph {
		
		/*justify-content: center;*/
		/*display: flex;*/
		/*display: -webkit-flex;*/
		/*padding: 100px;*/
		display: block;
		width:100vw;
	}
	.middle-img {
		width:100vw;
		display: flex;
		justify-content: center;
		margin-left: 0px;
		margin-right: 0px;
	}
	.bottom-content {
		display: block;
		width:100vw;
		margin-left:0px;
		margin-right:0px;
	}

	.company_address {
		width:100vw;
	}
	.logo {
		margin-top:5px;
	}
	
	
	.main .globe-image {
		width:100vw;
		display:flex;
		justify-content: center;
	}
	/*header-container{
		height:400px;
		line-height: normal;
		width: 100%} 
	.main{
		width:100%;
		margin:auto;
		/*align-self:center;
		vertical-align: top;*/
	}
}

 /*@media(max-width: 500px){<styles in here>}*/







	

	}