/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

#content {
	width:100vw;
	display: flex;
}

.links {
	margin: 20px;
	padding: 20px;
	color: gray;
	display:flex;
	width: 900px;
}


.top-navigation .links a {
	text-decoration: none;
	padding: 20px;
	margin-top: 20px;
	color: gray;

}
.main {
	display:flex;
	/*width:100vw;*/
	flex-direction: column;

}
.header {
	display:flex;
	justify-content:space-evenly;
	width:100vw;
}

#top-section {
	display:flex;
	width: 100vw;
	justify-content: space-around;
}
/*.header-container {
	display:flex;
	width: 200px;*/


.top-content .header-container .globe-image {
	/*margin-left:275px;*/
	margin-bottom: 300px;
	margin-right: 500px;
	width: 100px;
	height: 50px;
}


.top-content .header-container h1 {
	margin-left: 400px;
	 padding: 10px;
	 width: 100px;
	font-size: 50px;
}

.top-content .header-container .get-started { 
	margin-left: 0px;
	margin-right: 0px;
	margin-top:300px;
	padding: 20px;
	width: 200px;
   font-size: 40px;
   text-decoration: none;
   display:flex;
   border: 2px solid black;
   color:gray;
}

.logo {
	margin-left:1000px;
	margin-bottom: 100px;
	padding: 5px;
	height: 50px;
	width:100px;
}
  

h2 {
	margin: 10px;
	padding: 10px;

}
.top-paragraph {
	margin-bottom: 40px;
	margin-top: 20px;
	/*justify-content: center;*/
	display: flex;
	display: -webkit-flex;
	padding: 100px;
}
.top-paragraph .Features-Container {
	padding:20px;
	margin-right: 15px;

}
.top-paragraph .About-Container {
	padding:20px;
	margin-right: 15px;

}

/*.Services-Container  {
	margin: 10px;
	padding:10px;
	width: 20%;
	height: 30%;
} 

.Product-Container  {
	margin: 10px;
	padding: 10px;
	width: 20%;
	height: 30%;
	display: inline-block;
}

.Vision-Container {
	padding:10px;
	width: 20%;
	height: 30%;
	padding:10px;
	box-sizing: border-box;
	display: inline-block;
}*/

.bottom-content
{
		display: flex;
		display: -webkit-flex;
		padding: 50px;
	
}

.bottom-content .Services-Container {
	padding:20px;
	margin-right: 15px;
}

.bottom-content .Product-Container {

	padding:20px;
	margin-right: 15px;
}

.bottom-content .Vision-Container {

	padding:20px;
	margin-right: 15px;
}

.middle-img {
	
	margin-left: 180px;
	margin-right: 100px;
	display: block;

}
	
.company_address {
	white-space: pre;
	text-align:left;
}

 
footer {
	margin: 0px 500px 0px 500px;
	padding:10px 10px;
}

/*responsive*/

@media (max-width: 500px) {
	#content {
		width:100vw;
	}
	.top-navigation {
	width: 50%;
	
	background:pink;
	}
	.nav_flex {
		height:400px;
		line-height: normal;
		width: 100%} 
	.links a {
		width:100%;
		margin:auto;
		align-self:center;
	}
}

 /*@media(max-width: 500px){<styles in here>}*/







	

	}